<div class="app-card-container">
  <div class="card">
    <h1> About Me </h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "ProfileImage.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
          <p>I am almost a developer.<p>

          <p>I'm learning stuff.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor et diam vel mollis. Donec pulvinar laoreet libero, vel efficitur enim venenatis cursus. Aenean id feugiat leo. Duis sapien lacus, gravida quis condimentum nec, porttitor sit amet nibh. Nulla viverra mattis sem sit amet porttitor. Pellentesque quis sollicitudin diam, quis congue ante. Cras semper justo sit amet justo imperdiet faucibus. Praesent euismod malesuada ornare. Ut mauris risus, tempor sed fringilla id, varius vitae metus.</p>

          <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
              Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
              Education
          </button>
          </p>

          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                Job 1
              </div>
              <div class="card card-block">
                Job 2
              </div>
            </div>

            <div class="collapse" id="education">
              <div class="card card-block">
                School 1
              </div>
              <div class="card card-block">
                School 2
              </div>
              <div class="card card-block">
                School 3
              </div>
            </div>
          </p>
      </div>
    </div>
  </div>
</div>


