<div class="inner cover">
  <h1 class="cover-heading">Graphic and Web Designer | Developer</h1>
  <p class="lead">See what I can do for you.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
